* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,body {
 width: 100%;
 height: 100%;
 background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    anchor-name: --some-anchor;
}

.box{
    height: 200px;
    width: 200px;
}
.box:hover{
    anchor-name: --some-anchor;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.ancher{
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    position-anchor: --some-anchor;
    right: anchor(right);
    bottom: anchor(bottom);
    pointer-events: none;
    top: anchor(top);
    left: anchor(left);
    transition: all 0.3s linear;
    mix-blend-mode: difference;
    
}
